* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
}

button a {
    text-decoration: none;
}

.first,
.second,
.third,
.fourfth {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}